* {
    font-family: "Inter", sans-serif;
}

header {
    height: 70px;
    border-bottom: 1px solid #ddd;
}

.logo-ifood {
    height: 40px;
}

.pointer {
    cursor: pointer;
}

.navegacao {
    max-width: 350px;
    min-width: 210px;
}

.link-nav {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
}

.link-nav-active {
    text-decoration: none;
    background-color: #D9293A;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
}

.card {
    height: fit-content;
}

.card-saldo {
    background-color: #98009B;
}

.card-ultimo-mes {
    background-color: #06328C;
}

.card-mes-atual {
    background-color: #FF6565;
}

.card-semana {
    background-color: #014811;
}

.card-fornecedores {
    background-color: #EB0033;
}

.card-fixos {
    background-color: #067C8C;
}

.card-mesal {
    background-color: #746D6D;
}

.card-franquia {
    background-color: #000000;
}

.card p {
    font-size: 0.77rem;
    color: white;
    margin-bottom: 0.25rem;     
    font-weight: 500;
}

.card h4 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 700;
}

.p-gray {
    font-size: 0.6rem;
    opacity: 0.7;
}

h2 {
    font-weight: 700;
}

input {
    padding: 1rem 1.2rem;
    border: none;
    background-color: #eee;
    color: #555;
}

textarea {
    padding: 1rem 1.2rem;
    border: none;
    background-color: #eee;
    color: #555;
    resize: none;
}

#cadastrar {
    width: 25%;
    background-color: rgb(152, 0, 155);
    color: white;
    margin-right: 25%;
    margin-left: auto;
}

#data {
    margin-right: 25%;
    margin-left: auto;
}

#cadastrar-pagto {
    width: 25%;
    background-color: rgb(152, 0, 155);
    color: white;
    margin-left: auto;
}

label {
    width: fit-content;
}

.border-dashed-table {
    border-style: dashed;
    border-radius: 0.5rem;
}

.border-dashed-col {
    border-right-style: dashed;
}

.table-heading {
    padding: 0.7rem 0;
    width: 90%;
    
    color: white;
    margin: auto;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

.produtos {
    background-color: #890019;
}

.fornecedores {
    background-color: #160483;
}

.funcionarios {
    background-color: #98009B;
}

.funcionarios-border {
    border-color: #a766a8;
}

.pagamentos {
    background-color: #FF6565;
}

.pagamentos-border {
    border-color: #ffb9b9;
}

.vendas {
    background-color: #014811;
}

.vendas-border {
    border-color: #407c4e;
}

.table-p {
    padding: 0.7rem 1rem;
    width: 90%;
    background-color: #eee;
    color: #555;
    margin: auto;
    border-radius: 0.5rem;
    font-size: 0.75rem;
}

.grid-table {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-table-6 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.w-20 {
    width: 20%;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60%;
}

.w-90 {
    width: 90%;
}

.acoes {
    background-color: #939393;
    color: #1F253A;
    font-weight: 800;
    text-align: center;
    height: fit-content;
}

.botoes-acoes {
    display: flex;
    margin: 0;
    color: white;
    font-weight: 400;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: none;
    text-align: start;
    width: 5rem;
    justify-content: center;
    align-items: center;
}

.botoes-acoes p {
    margin: 0;
}

.botoes-acoes img {
    margin-left: auto;
}

.botao-editar {   
    background-color: #1F253A;
}

.botao-excluir {
    background-color: #FB0208;
}

.botao-entrada {
    margin: 0;
    color: white;
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: none;
    text-align: start;
    width: 100%;
    background-color: #0930BB;
}

.botao-entrada ~ img {
    right: 1.5rem;
}

.relatorio {
    background-color: #E0E0E0;
    color: #1F253A;
    font-weight: 500;
    text-align: center;
    height: fit-content;
}

.botoes-relatorio {
    margin: 0;
    color: #1F253A;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 0.85rem;
}

.flex-checkbox {
    display: flex;
    flex-direction: column;
    margin-top: 5.4rem;
    gap: 1.8rem;
}

input[type="checkbox"] {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 0;
    background-color: #B8AFAF;
}

input[type="checkbox"]:checked {
    background-color: white;
    border: 4px solid #DA2F3A;
}

input[type="radio"] {
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 0;
    background-color: #B8AFAF;
}

input[type="radio"]:checked {
    background-color: white;
    border: 4px solid #DA2F3A;
}

#adicionar-produto {
    background-color: #0930BB;
    color: white;
    border: none;
    padding: 1rem 1.2rem;
}

.link-icon {
    position: absolute;
    top: 6px;
    left: 0px;
    width: 57px;
    height: 33px;
}
.pinsvg-icon {
    position: absolute;
    width: calc(100% - 218px);
    top: -4.47px;
    right: 218px;
    left: 0px;
    max-width: 100%;
    overflow: hidden;
    height: 32.9px;
}
.informe-sua-cidade {
    color: #ea1d2c;
}
.informe-sua-cidade-para-ver {
    margin: 0;
}
.informe-sua-cidade-container1 {
    width: 100%;
}
.informe-sua-cidade-container {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 24px;
    display: flex;
    align-items: center;
    width: 176.3px;
    height: 48px;
}
.container1 {
    position: absolute;
    top: 0px;
    left: 40px;
    width: 177px;
    height: 48px;
    overflow: hidden;
}
.svg-icon {
    position: absolute;
    top: calc(50% - 12px);
    right: 0px;
    width: 36px;
    height: 24px;
    object-fit: cover;
}
.container {
    position: absolute;
    top: calc(50% - 24px);
    left: 123.25px;
    width: 253px;
    height: 48px;
    text-align: left;
}
.como-funciona {
    position: absolute;
    top: 1px;
    left: calc(50% - 59.75px);
    line-height: 24px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95.7px;
    height: 24px;
}
.svg-icon1 {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% + 35.75px);
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.button-menu {
    position: absolute;
    top: calc(50% - 13px);
    left: 442.5px;
    background-color: #fff;
    width: 131.5px;
    height: 26px;
    font-size: 13.45px;
}
.ajuda {
    position: absolute;
    top: 1px;
    left: calc(50% - 29.85px);
    line-height: 24px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35.9px;
    height: 24px;
}
.svg-icon2 {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% + 5.84px);
    width: 24px;
    height: 24px;
    object-fit: cover;
}
.button-menu1 {
    position: absolute;
    top: calc(50% - 13px);
    left: 640.25px;
    background-color: #fff;
    width: 71.7px;
    height: 26px;
    font-size: 13.56px;
}
.entrar-no-portal {
    position: absolute;
    top: 12px;
    left: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 101.5px;
    height: 24px;
}
.button {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #ea1d2c;
    box-sizing: border-box;
    height: 48px;
}
.container2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 135.3px;
    height: 48px;
    cursor: pointer;
}
.link {
    position: absolute;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 778.19px;
    width: 135.3px;
    font-size: 13.67px;
    color: #ea1d2c;
}
.cadastrar {
    position: absolute;
    top: 12px;
    left: calc(50% - 30.75px);
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 61.7px;
    height: 24px;
}
.button1 {
    position: absolute;
    top: 0px;
    left: 929.48px;
    border-radius: 6px;
    background-color: #ea1d2c;
    width: 93.5px;
    height: 48px;
    font-size: 13.13px;
    color: #fff;
}
.section-nav {
    position: absolute;
    top: 16px;
    left: calc(50% - 511.5px);
    width: 1023px;
    height: 48px;
}
.backgroundhorizontalborder {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0%;
    left: 0%;
    background-color: #fff;
    border-bottom: 1px solid #dcdcdc;
    box-sizing: border-box;
    height: 81px;
}
.bg-lp-3acb005ea6png-icon {
    position: absolute;
    height: 92.5%;
    top: 7.5%;
    bottom: 0%;
    left: calc(50% - 1319px);
    max-height: 100%;
    width: 2637.4px;
    overflow: hidden;
    object-fit: cover;
}
.heading-2 {
    position: absolute;
    top: 18.67px;
    left: 100.57px;
    line-height: 42.68px;
    display: flex;
    align-items: center;
    width: 222.5px;
    height: 42.7px;
}
.heading-3 {
    position: absolute;
    top: 61.35px;
    left: 18.67px;
    width: 386.3px;
    height: 37.3px;
}
.label-nome {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 13.89px;
    line-height: 21.34px;
    display: flex;
    align-items: center;
    width: 107.1px;
    height: 21.3px;
}
.joo-da-silva {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    width: 92.1px;
    height: 17.8px;
}
.container3 {
    position: absolute;
    width: calc(100% - 14.2px);
    top: 12.45px;
    right: 7.09px;
    left: 7.11px;
    height: 18.7px;
    overflow: hidden;
}
.input {
    position: absolute;
    width: calc(100% - 1.8px);
    top: calc(50% - 21.36px);
    right: 0.91px;
    left: 0.89px;
    background-color: #fff;
    height: 42.7px;
}
.backgroundborder {
    position: absolute;
    width: 100%;
    top: 24.89px;
    right: 0px;
    left: 0px;
    border-radius: 5.33px;
    background-color: #fff;
    border: 0.9px solid #dcdcdc;
    box-sizing: border-box;
    height: 24.5px;
    overflow: hidden;
    font-size: 14.63px;
    color: #a6a6a6;
    white-space: nowrap; /* Ensure text does not wrap */
}
.label-email {
    position: absolute;
    top: 72.9px;
    left: 0px;
    line-height: 21.34px;
    display: flex;
    align-items: center;
    width: 36.3px;
    height: 39.1px;
}
.emailemailcombr {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    width: 150.5px;
    height: 17.8px;
}
.backgroundborder1 {
    position: absolute;
    width: 100%;
    top: 115.58px;
    right: 0px;
    left: 0px;
    border-radius: 1.33px;
    background-color: #fff;
    border: 0.1px solid #dcdcdc;
    box-sizing: border-box;
    height:20.5px;
    overflow: hidden;
    font-size: 15.75px;
    color: #a6a6a6;
}
.label-celular {
    position: absolute;
    top: 163.59px;
    left: 0px;
    line-height: 21.34px;
    display: flex;
    align-items: center;
    width: 121px;
    height: 39.1px;
}
.div {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    width: 127.3px;
    height: 17.8px;
}
.backgroundborder2 {
    position: absolute;
    width: 100%;
    top: 206.27px;
    right: 0px;
    left: 0px;
    border-radius: 5.33px;
    background-color: #fff;
    border: 0.9px solid #dcdcdc;
    box-sizing: border-box;
    height: 44.5px;
    overflow: hidden;
    font-size: 15.25px;
    color: #a6a6a6;
    white-space: nowrap; /* Ensure text does not wrap */
}
.cadastrar-agora {
    position: absolute;
    top: 10.67px;
    left: calc(50% - 57.55px);
    line-height: 21.34px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115.3px;
    height: 21.3px;
}
.button2 {
    position: absolute;
    top: 272.06px;
    left: 0px;
    border-radius: 5.33px;
    background-color: #ea1d2c;
    width: 386.3px;
    height: 42.7px;
    text-align: center;
    font-size: 15px;
    color: #fff;
}
.declarao-de-privacidade {
    text-decoration: underline;
}
.ao-continuar-voc-container {
    position: absolute;
    top: 336.07px;
    left: 0px;
    font-size: 11.86px;
    line-height: 14.23px;
    color: #717171;
    display: flex;
    align-items: center;
    width: 367.8px;
    height: 28.5px;
}
.form {
    position: absolute;
    top: 98.69px;
    left: 18.67px;
    width: 386.3px;
    height: 403.6px;
    font-size: 14.23px;
}
.conhea-os-planos-container {
    width: 452px;
    position: relative;
    line-height: 70px;
    display: flex;
    align-items: center;
    height: 210px;
    flex-shrink: 0;
}
.conhea-os-planos-ifood-e-aume-wrapper {
    position: absolute;
    height: 43.99%;
    top: 117.73%;
    bottom: -61.72%;
    left: -875px;
    width: 466px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 48.5px;
    color: #fff;
}
.background {
    position: absolute;
    height: 48.24%;
    top: 17.96%;
    bottom: 33.8%;
    left: calc(50% + 79px);
    border-radius: 4.67px;
    background-color: #fff;
    width: 423.6px;
    text-align: left;
    font-size: 26.26px;
}
.home {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1117px;
    overflow: hidden;
    text-align: center;
    font-size: 13.34px;
    color: #3e3e3e;
    font-family: Inter;
}

