* {
    font-family: "Inter", sans-serif;
}

header {
    height: 70px;
    border-bottom: 1px solid #ddd;
}

.logo-ifood {
    height: 40px;
}

.pointer {
    cursor: pointer;
}

.navegacao {
    max-width: 350px;
    min-width: 210px;
}

.link-nav {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
}

.link-nav-active {
    text-decoration: none;
    background-color: #D9293A;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
}

.card {
    height: fit-content;
}

.card-saldo {
    background-color: #98009B;
}

.card-ultimo-mes {
    background-color: #06328C;
}

.card-mes-atual {
    background-color: #FF6565;
}

.card-semana {
    background-color: #014811;
}

.card-fornecedores {
    background-color: #EB0033;
}

.card-fixos {
    background-color: #067C8C;
}

.card-mesal {
    background-color: #746D6D;
}

.card-franquia {
    background-color: #000000;
}

.card p {
    font-size: 0.78rem;
    color: white;
    margin-bottom: 0.25rem;
    font-weight: 600;
}

.card h4 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 700;
}

.p-gray {
    font-size: 0.6rem;
    opacity: 0.7;
}